.modal {
  .modal-dialog {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.modal-content {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  // background-color: transparent !important;
  border: 0;

  .modal-header {
    display: flex;
    background-color: $dove-gray;
    border-bottom: 0;
    position: relative;
    top: -2px;

    .close {
      margin-left: 0;
      color: $white;
    }

    .modal-title {
      width: 100%;
      padding-left: pxToRem(30);
      color: $white;
    }
  }

  .modal-body {
    white-space: pre-line;
    background-color: $white;
  }

  .modal-footer {
    justify-content: center;
    border-top: 0;
    background-color: $white;
  }
}

@include breakpoint(lg1024) {
  .custom-popup-detail {
    .modal-dialog {
      max-width: pxToRem(700);
    }
  }
}

@include breakpoint(sm768) {
  .custom-popup-detail {
    .modal-dialog {
      top: 0;
    }
  }

  .register-device__popup {
    display: block;
    text-align: right;

    .customer-select {
      margin-bottom: pxToRem(10);
    }

    button {
      margin-top: pxToRem(10);
    }
  }

  .modal-payment {
    &.modal-center {
      .modal-dialog {
        top: 50%;
      }
    }
  }
}

@include breakpoint(sm375) {
  .modal-payment {
    &.modal-center {
      .modal-dialog {
        top: 58%;
      }
    }
  }
}


@include breakpoint(sm320) {
  .modal-payment {
    &.modal-center {
      .modal-dialog {
        top: 65%;
      }
    }
  }
}

.blue.btn.btn-primary {
  background-color: $btn-primary;
  border-color: $btn-primary;
}

body .scroll-popup {
  .table {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $silver;
      display: inline-block;
      bottom: 0;
      left: 0;
    }
  }

  .table-bordered td,
  .table-bordered th {
    border: pxToRem(1) solid $silver !important;
    border-bottom: 0 !important;
  }

  table thead th {
    font-size: pxToRem(20);
    background-color: $alto-transparent;
    margin-bottom: 0;
    padding: pxToRem(10);
  }
}

@include breakpoint(xl600) {
  .scroll-popup {
    height: 420px;
    overflow-y: auto;
  }
}

@include breakpoint(xm480) {
  .scroll-popup {
    height: 320px;
    overflow-y: auto;

    .table {
      width: 100% !important;
    }
  }
}
