.btn-sm {
  width: auto;
  padding: 0 pxToRem(20);
  line-height: pxToRem(30);
  height: auto;
}

.wrapper__info {
  background-color: $white;

  .input__box {
    margin: 0;
  }

  .input {
    margin: 0;
    display: block;
    width: 100%;
    padding: pxToRem(6) pxToRem(12);
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid $boder-table;
    border-radius: pxToRem(4);
    transition: border-color 0.15s ease-in-out;

    @include breakpoint(sm375) {
      padding: pxToRem(6);
    }

    &:disabled {
      background-color: $bg-disabled;
      color: $color-disabled;
    }
  }

  .row__custom {
    border: pxToRem(1) solid $boder-table;
    border-bottom: 0;
    margin: 0;

    &:last-child {
      border-bottom: pxToRem(1) solid $boder-table;
    }

    >div {
      border-right: pxToRem(1) solid $boder-table;

      @include breakpoint(sm768) {
        border-right: 0;
      }

      &:nth-child(2) {
        border-right: 0;
      }
    }
  }
}

.edit-store.card-header {
  border: pxToRem(1) solid $boder-table;
  border-bottom: 0;
}

.input-50 {
  .input__wrapper {
    max-width: 50%;

    @include breakpoint(sm768) {
      max-width: 100%;
    }
  }
}

.row.row-50 {
  @include breakpoint(min992) {
    max-width: calc(50% + 15px);
  }

  max-width: calc(100% + 15px);

  span {
    font-size: pxToRem(20);
    display: flex;
    align-items: center;
  }
}

.card-header {
  font-weight: 600;
  font-size: pxToRem(20);
}
